debug
debug.test
main
mockgen_tmp.go
*.qtr
*.qlog
*.sqlog
*.txt
!bin/input/*
race.[0-9]*

fuzzing/*/*.zip
fuzzing/*/coverprofile
fuzzing/*/crashers
fuzzing/*/sonarprofile
fuzzing/*/suppressions
fuzzing/*/corpus/

gomock_reflect_*/
bin/ca.pem
bin/cert.pem
bin/priv.key
